<extend name="Public/base" />
<!-- add css 属性 -->
<block name="style">
	<link rel="stylesheet" type="text/css" href="__CSS__/Index/writeblog.css">
</block>
<block name="body">
 <div style="margin-left:18%;">
	 <div class="row" style="width:100%">
		  <!-- 导航列表 -->
		  <div class="col-lg-12" >
		    <h1>Lance Blog <small>编辑博客</small></h1>
		    <ol class="breadcrumb">
		      <li class="active"><i class="fa fa-dashboard"></i>编辑博客</li>
		    </ol>
		  </div>

          <!-- 写博客 -->
           <div id="addblog">
           	   <form action="__URL__/submit_edit_blog" method="post" class="form" enctype="multipart/form-data">
	           	  <!-- 博客标题 -->
	           	  <input type="text" value="{$data.id}" name="blog_id" style="display:none">
	           	  <div class="form-group">
	                <label>标题</label>
	                <input class="form-control" name="title" value="{$data.title}"  maxlength="13">
	              </div>
                  <!-- 博客内容 -->
	              <div class="form-group">
	                <label>内容</label>
	                <textarea id="editor" name="content">{$data.blog_content}
	                </textarea>
	              </div>
	              <!-- 标签 -->
	              <div class="form-group" class="">
	                <label>标签 </label>
	                  <volist name="list" id="vo">
		                   <label class="radio-inline">
		                      <input type="radio" value="{$vo.id}" name="category">{$vo.category}
		                   </label>
	                  </volist>
	               
                    <a href="#"><img src="__IMG__/1.gif" width="25px" height="25px" id="imgset"></a>

                  </div>

                 <!-- 提交按钮 -->
                  <button type="submit" class="btn btn-success" id="submitbutton">提 交</button>
           	   </form>
           	   <input type="text" url="__URL__/addtage" id="tages" style="display:none">
           </div>
	</div>
 </div>
	
</block>
<block name="script">
    <!--加载文本编辑插件 -->
    <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.all.min.js"> </script>
    <!-- 语言编辑器 -->
    <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/lang/zh-cn/zh-cn.js"></script>

	<script type="text/javascript" src="__JS__/Index/addblog.js"></script>
	
	<script type="text/javascript">
	/*加载ue插件*/
	var ue = UE.getEditor('editor');
       /*左侧导航高亮*/
        $(function() {
            $("ul li").eq(0).removeClass('active');
            $("ul li").eq(1).addClass('active');
         });

        /*给文本框添加宽度*/
        $("textarea").css("height","350px"); 
    </script>
</block>