<extend name="Public/base" />
<!-- add css 属性 -->
<block name="style">
	<link rel="stylesheet" type="text/css" href="__CSS__/Index/index.css">
</block>
<block name="body">
 
 <div style="margin-left:18%;">
	 <div class="row" style="width:100%">
		  <!-- 导航列表 -->
		  <div class="col-lg-12" >
		    <h1>Lance Blog <small>博客列表</small></h1>
		    <ol class="breadcrumb" >
		      <li class="active"><i class="fa fa-dashboard"></i> 博客列表</li>
		    </ol>
		  </div>
          <!-- 博客列表 -->
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="thbgset">UID</th>
                <th class="thbgset">标题</th>
                <th class="thbgset">类别</th>
                <th class="thbgset">发布人</th>
                <th class="thbgset">发布日期</th>
                <th class="thbgset">查看</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.title}</td>
                        <td>{$vo.category}</td>
                        <td>{$vo.nicname}</td>
                        <td>{$vo.public_date|date="Y-m-d H:i:s",###}</td>
                        <td> 
                        <a href="__URL__/look_blog/id/{$vo.id}">查看</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="pageset">
        {$page}
    </div>
     
	</div>
 </div>
	
</block>
<block name="script">
	<script type="text/javascript" src="__JS__/Index/index.js"></script>
</block>