<extend name="Public/base" />
<!-- add css 属性 -->
<block name="style">
	<link rel="stylesheet" type="text/css" href="__CSS__/Index/index.css">
</block>
<block name="body">
 
 <div style="margin-left:18%;">
	 <div class="row" style="width:100%">
		  <!-- 导航列表 -->
		  <div class="col-lg-12" >
		    <h1>Lance Blog <small>留言管理</small></h1>
		    <ol class="breadcrumb" >
		      <li class="active"><i class="fa fa-dashboard"></i> 留言管理</li>
		    </ol>
		  </div>
          <!-- 博客列表 -->
        <div class="table-responsive">
        <input type="hidden" url="{:U('Index/delete_commit')}" id="delete_url">
       <table class="table table-striped">
           <thead>
           <tr>
               <th class="thbgset">UID</th>
               <th class="thbgset">博客</th>
               <th class="thbgset">留言者</th>
               <th class="thbgset">发布日期</th>
               <th class="thbgset">操作</th>
           </tr>
           </thead>
           <tbody>
           <notempty name="list">
               <volist name="list" id="vo">
                   <tr>
                       <td>{$vo.id}</td>
                       <td>{$vo.title}</td>
                       <td>{$vo.name}</td>
                       <td>{$vo.message_time|date="Y-m-d H:i:s",###}</td>
                       <td><a href="#" class="delete_blog"  value="{$vo.id}" >删除</a><a href="#" class="look_detail">查看</a></td>
                   </tr>
               </volist>
               <else/>
               <td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
           </notempty>
           </tbody>
       </table>
           </div>
    <!-- 分页 -->
    <div class="pageset">
       {$page}
   </div>
	</div>
 </div>
	
</block>
<block name="script">
	<script type="text/javascript" src="__JS__/Index/index.js"></script>
    <script type="text/javascript" src="__JS__/Index/message.js"></script>
    <script type="text/javascript">
        $("ul li").eq(0).removeClass('active');
        $("ul li").eq(4).addClass('active');
    </script>
</block>