<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>个人简历</title>
</head>
<link rel="stylesheet" type="text/css" href="__CSS__/Index/persion_information.css">
<script type="text/javascript" src="__JS__/Index/persion_information.js"></script>
<body style="background:url(__IMG__/13.jpg);background-size:100% 100%;-moz-background-size:100% 100%;background-repeat:no-repeat;height:550px;margin:0;color:#ffffff">

<h1 id="topset">Lance 个人简介</h1>


   
</body>
</html>