<extend name="Public/base" />
<!-- add css 属性 -->
<block name="style">
	<link rel="stylesheet" type="text/css" href="__CSS__/Index/writeblog.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/upfile/css/jquery.fileupload.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/upfile/css/jquery.fileupload-ui.css">
</block>
<block name="body">
 <div style="margin-left:18%;">
	 <div class="row" style="width:100%">
		  <!-- 导航列表 -->
		  <div class="col-lg-12" >
		    <h1>Lance Blog <small>写博客</small></h1>
		    <ol class="breadcrumb">
		      <li class="active"><i class="fa fa-dashboard"></i>写博客</li>
		    </ol>
		  </div>

          <!-- 写博客 -->
           <div id="addblog">
           	   <form action="__URL__/submitblog" method="post" id="form" >
	           	  <!-- 博客标题 -->
	           	  <div class="form-group">
	                <label>标题</label>
	                <input class="form-control" name="title" placeholder="博客标题最多只能13个字"  maxlength="13" id="title">
	              </div>
                   
                    <!-- 文章封面图片 -->
             <div class="form-group">
              <div class="row fileupload-buttonbar" style="padding-left:15px;">

	               <div class="thumbnail col-sm-6">
	                <img id="weixin_show" style="height:180px;margin-top:10px;margin-bottom:8px;"  src="__IMG__/22.png" data-holder-rendered="true">
	                   <div class="progress progress-striped active" role="progressbar" aria-valuemin="10" aria-valuemax="100" aria-valuenow="0"><div id="document_progress" class="progress-bar progress-bar-success" style="width:0%;"></div></div>
	                   <div class="caption">
	                <span id="document_upload" class="btn btn-primary fileinput-button">
	                <span>选择封面图片</span>
	                <input type="file" id="document" name="document" multiple>
	                </span>
	                       <a id="document_cancle" href="javascript:void(0)" class="btn btn-warning" role="button"  style="display:none">删除</a>
	                   </div>
	                   <p> *图片最大上传3M</p>
	               </div>

               </div>

             </div>

                  <!-- 博客内容 -->
	              <div class="form-group">
	                <label>内容</label>
	                <textarea id="editor" name="content">
	                </textarea>
	              </div>
	              <!-- 标签 -->
	              <div class="form-group" class="">
	                <label>标签 </label>
	                  <volist name="list" id="vo">
		                   <label class="radio-inline">
		                      <input type="radio" value="{$vo.id}" name="category"  class="choice">{$vo.category}
		                   </label>
	                  </volist>
	               
                    <a href="#"><img src="__IMG__/1.gif" width="25px" height="25px" id="imgset"></a>
                  </div>

                  <input type="hidden" id="photourl">
                 <!-- 提交按钮 -->
                  <button type="submit" class="btn btn-success" id="submitbutton">提 交</button>
           	   </form>
           	   <input type="text" url="__URL__/addtage" id="tages" style="display:none">
           </div>
	</div>
 </div>
	
</block>
<block name="script">
    <!--加载文本编辑插件 -->
    <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset"utf-8" src=""></script>
    <!-- 语言编辑器 -->
    <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" src="__STATIC__/upfile/js/vendor/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="__STATIC__/upfile/js/jquery.fileupload.js"></script>
	<script type="text/javascript" src="__STATIC__/upfile/js/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="__JS__/Index/addblog.js"></script>
	
	
	<script type="text/javascript">
	/*加载ue插件*/
	var ue = UE.getEditor('editor');
       /*左侧导航高亮*/
        $(function() {
            $("ul li").eq(0).removeClass('active');
            $("ul li").eq(2).addClass('active');
         });

        /*给文本框添加宽度*/
        $("textarea").css("height","300px");
        
         /*上传封面图片*/
         $(function() {
            $("#document").fileupload({
                url: '__URL__/submitphoto',
                sequentialUploads: true
            }).bind('fileuploadprogress', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $("#document_progress").css('width',progress + '%');
                $("#document_progress").html(progress + '%');
            }).bind('fileuploaddone', function (e,data) {
            	if (escape(data.result).indexOf("%u")<0) {
	            	$("#weixin_show").attr("src","__UPLOADS__/"+data.result);
	                $("#document_upload").css({display:"none"});
	                $("#document_cancle").css({display:""});
	                $("#photourl").val(data.result);
            	}else{
            		layer.msg(data.result, function(){
					   document.location.reload();
					});
            	}

            });
        });

     /*图片删除事件*/
    $("#document_cancle").click(function(){
    	 $("#weixin_show").attr("src","__IMG__/22.png");
         $("#document_progress").css('width','0%');
         $("#photourl").val();
         $("#document_upload").css({display:""});
         $("#document_cancle").css({display:"none"});
        });

    /*判断所提交的内容*/
   $(function(){
    $("#form").submit(function(){
           var title = $("#title").val();
           var photourl = $("#photourl").val();
           var  blog_content = $("textarea").val();
           var choice = $("input[type='radio']:checked").val();
           if (title == '') {
              layer.msg('标题名不能为空！', {icon: 5});
           }else if (photourl == '') {
               layer.msg('博客封面不能为空！', {icon: 5});
           }else if (blog_content == '') {
                layer.msg('博客内容不能为空！', {icon: 5});      
           }else if (choice == '') {
           	    layer.msg('博客的类型至少选中一项！', {icon: 5});  
           }else{
           	 $.ajax({
                type:'POST',
                url:$('#form').attr('action'),
                data:{
                    'title':$("#title").val(),
                    'photourl':$("#photourl").val(),
                    'blog_content':$("textarea").val(),
                    'choice':$("input[type='radio']:checked").val()
                },
                success:function(data){
                     if (data == 1) {
                     	layer.msg('添加文章成功！', function(){
				           window.location.href = $("#jump").attr('url')+'/'+"index";
				         });
                     }	
                }
            });
           }
           return false;
       });
    });
    
    </script>
</block>