.bodyset{
	text-align: center;
}

.leftset{
	margin-left: 12%;
	float: left;
}
.rightset{
	float: right;
	margin-left: 29%;
	width: 350px;
}

.managerset{
	margin-top: 10px;
}
.form-control{
	width: 250px;
	display: none;
}

.form-group label{
	
}

.addblog{
	
}

.btn{
	display: none;
}

.user_detail{
	/* margin-right: 80%; */
}