.thbgset{
	background-color: #222222;
	color: #ffffff;
}

.pageset{
	width:100.5%; 
	text-align:center; 
	padding:10px 0; clear:both;
}

.pageset span,.pageset a,.pageset b{ 
	font-size:12px; 
	font-family:Arial, Helvetica, sans-serif; 
	margin:0 2px;
}
.pageset span font{ 
	color:#f00; 
	font-size:12px;
}
.pageset a,.pageset b{ 
	border:1px solid #448AFF; 
	background:#fff; 
	padding:5px 8px; 
	text-decoration:none
}
.pageset span { 
	padding-right:10px;
	 }
.pageset b,.pageset a:hover{ 
	background:#448AFF; 
	color:#fff;
}
