<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>LANCE BLOG</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" type="image/x-icon" href="__IMG__/ad.ico" />
<link href="__CSS__/style.css" rel="stylesheet" type="text/css" />
<block name="style"></block>
<script type="text/javascript" src="__JS__/cufon-yui.js"></script>
<script type="text/javascript" src="__JS__/arial.js"></script>
<script type="text/javascript" src="__JS__/cuf_run.js"></script>
<script type="text/javascript" src="__STATIC__/artDialog/artDialog.js?skin=default"></script>
<script src="__STATIC__/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/jquery-1.11.3.min.js"></script>
<script src="__STATIC__/layer-v1.9.3/layer/layer.js"></script>
<block name="script"></block>
<!-- CuFon ends -->
</head>
<body>
   <block name="main">
    <!-- main body -->
    <div class="main">
  <block name="header">
     <!-- header -->
    <div class="header">
     <div class="header_resize">
       <div class="logo">
        	<h1><a href="index.html">Lance <span> Blog</span></a><small>Great minds have purpose, others have wishes.</small></h1>
       </div>
        <div class="clr"></div>
      <div class="menu_nav">
	        <ul>
	          <li class="active"><a href="{:U('Index/index')}">首页</a></li>
	          <li><a href="{:U('Index/blog_list')}">文章</a></li>
	          <li><a href="#">关于</a></li>
	          <li><a href="#">简历</a></li>
	        </ul>
	       
	       <!-- 搜索栏 -->
	       <div class="search">
		        <form id="form" name="form" method="post" action="#">
		          <span>
		          <input name="q" type="text" class="keywords" id="textfield" maxlength="50" value="" style="" />
		          <input name="b" type="image" src="__IMG__/search.gif" class="button" />
		          </span>
		        </form>
	       </div>
	      		<!--/search -->
	    </div>
	      <div class="clr"></div>
	   </div>
	 </div>
	 </block>
       <!-- 内容 -->
       <block name="content">
          
       </block>
       <!-- 尾部 -->
       <block name="fbg">
	    <div class="fbg">
	    <div class="fbg_resize">
	      <div class="col c1">
	        <h2><span>博客相册</span></h2>
	        <a href="#"><img src="__IMG__/gallery_1.jpg" width="58" height="58" alt="pix" /></a> 
	        <a href="#"><img src="__IMG__/gallery_2.jpg" width="58" height="58" alt="pix" /></a> 
	        <a href="#"><img src="__IMG__/gallery_3.jpg" width="58" height="58" alt="pix" /></a> 
	        <a href="#"><img src="__IMG__/gallery_4.jpg" width="58" height="58" alt="pix" /></a> 
	        <a href="#"><img src="__IMG__/gallery_5.jpg" width="58" height="58" alt="pix" /></a> 
	        <a href="#"><img src="__IMG__/gallery_6.jpg" width="58" height="58" alt="pix" /></a> 
	      </div>
	      <div class="col c2">
	        <h2><span>Blog Link</span></h2>
	        <p>这里写几个博客链接<br />
	          <a href="#">赵亚飞的博客</a><br/>
	          <a href="#">张琦守的博客</a><br/>
	          <a href="#">黄天的博客</a></p>
	      </div>
	      <div class="col c3">
	        <h2><span>Contact</span></h2>
	        <p>这里写我的具体的联系方式 <a href="#">
	        mail@example.com</a><br/>
	          <a href="#">+1 (123) 444-5677</a></p>
	      </div>
	      <div class="clr"></div>
    </div>
    <div class="footer">
      <p class="lr">(c) Copyright <a href="#">Lance Blog</a>.</p>
      <div class="clr"></div>
    </div>
  </div>
   </block>
     </div>
    </block>
</body>