<extend name="Public/base" />
<!-- add css 属性 -->
<block name="style">
  <link rel="stylesheet" type="text/css" href="__CSS__/home.css">
  <link rel="stylesheet" type="text/css" href="__STATIC__/time/css/default.css" />
  <link rel="stylesheet" type="text/css" href="__STATIC__/time/css/component.css" />
</block>
<block name="content">
    <div class="content">
    <div class="content_resize">
      <!-- 循环出全部文章 -->
      <div class="mainbar">
        <ul class="cbp_tmtimeline">
          <notempty name="list">
          <volist name="list" id="vo">  
          <li>
            <time class="cbp_tmtime" datetime="{$vo.public_date|date="Y-m-d H:i:s",###}"><span style="color:#6CBFEE;font-size:18px;float:left">
            {$vo.public_date|date="Y-m-d H:i:s",###}</span> <span> </span></time>
            <div class="cbp_tmicon cbp_tmicon-screen"></div>
            <div class="cbp_tmlabel">
              <p style="font-size:20px;"><a href="__URL__/look_artical/id/{$vo.id}" class="click_cout" val="{$vo.id}">{$vo.title}</a></p>
              <p>{$vo.blog_newsletter|htmlspecialchars_decode} <a href="__URL__/look_artical/id/{$vo.id}">Read more</a></p>
              <p>发布者【{$vo.nicname}】  阅读【 {$vo.browsenumber} 】 <a href="#"> 好评【{$vo.praise}】</a></p>
            </div>
          </li>
          </volist>
        <else/><p>暂还没有文章信息！</p>
        </notempty>
        </ul>
      </div>
      </div>
      <!-- <input type="text" class="url" url="__URL__/addblogcout" style="display:none"> --> 
      <div class="article" style="padding:5px 20px 2px 20px; background:none; border:0;">
           <div class="pageset">
               {$page}
           </div>
        </div>
      <div class="clr"></div>
    </div>
  </div>
</block>
<block name="script">
  <script type="text/javascript" src="__JS__/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="__JS__/jquery.js"></script>
  <script type="text/javascript" src="__STATIC__/time/js/modernizr.custom.js"></script>
  <script type="text/javascript">
 /*是用ajax传递浏览量参数*/ 
/* $(function(){
    $('.click_cout').on('click',function(){
       $.ajax({
           url:$(".url").attr('url'),
           type:'post',
           data:{
               'id':$('.click_cout').attr('val')
              }
            });
          });
      });*/
     
      /**导航高亮**/
      $(function() {
          $("ul li").eq(0).removeClass('active');
          $("ul li").eq(1).addClass('active');
         });
  </script>
</block>