<extend name="Public/base" />
<!-- add css 属性 -->
<block name="style">
  <link rel="stylesheet" type="text/css" href="__CSS__/home.css">
  <link rel="stylesheet" type="text/css" href="__JS__/bin/css/default.css">
  <link href="__JS__/bin/css/jquery.smartmarquee.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="__CSS__/topset.css">
</block>
<block name="content">
      <div class="content">
    <div class="content_resize">
      <div class="mainbar">
         <!-- 内容 -->
         <div class="article">

           <!-- 博客滑动展示 -->
             <div class="smartmarquee example">
                <ul class="container">
                 <notempty name="list">    
                   <foreach name="list" item="vo">    
                     <li>
                     <a href="__URL__/look_artical/id/{$vo.id}" class="title">{$vo.title}</a><br>
                     <a href="__URL__/look_artical/id/{$vo.id}">{$vo.blog_newsletter|htmlspecialchars_decode} . . . . .</a>
                     <p>发布时间【{$vo.public_date|date="Y-m-d H:i:s",###}】 作者【<a href="#">{$vo.nicname}</a>】  阅读【{$vo.browsenumber}】 点赞【{$vo.praise}】 分类【<a href="#">{$vo.category}</a>】</p>
                    </li>
                   </foreach>
                   <else /> 
                   <p style="text-align: center;">暂没有要显示的文章信息</p>
                 </notempty>
             
                </ul>
             </div>
             
               <!--罗列文章内容-->  
                <foreach name="data" item="data">
                   <div class="article">
                      <p style="font-size:18px"><a href="__URL__/look_artical/id/{$data.id}">{$data.title}</a></p>
                      <div class="clr"></div>
                      <p>发布人【<a href="#">{$data.nicname}</a>】阅读【{$data.browsenumber}】 分类【<a href="#">{$data.category}</a>】 点赞【{$data.praise}】</p>
                      <img src="__UPLOADS__/{$data.blog_photo}" width="613" height="193" alt="image" />
                      <div class="clr"></div>
                      <p>{$data.blog_newsletter|htmlspecialchars_decode} . . . .</p>
                   </div>
                </foreach>
                
                <!-- 分页设置 -->
              <div style="background-color:#E4E4E4">
                  <!-- {$page} -->
                </div>
         </div>
        </div>
      <!-- 右侧专栏 -->

      <div class="sidebar">
        <div class="gadget">
          <h2>Sidebar Menu</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li><a href="#">首页</a></li>
            <li><a href="#">文章</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="#">简历</a></li>
          </ul>
        </div>
        <!-- 获取博客类别及关于类别的介绍 -->
        <div class="gadget">
          <h2><span>Blog Category</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
             <notempty name="blog_class">
              <volist name="blog_class" id="vo">
                  <li><a href="#" title="Website Templates">{$vo.category}</a><br />
                   {$vo.introduction}</li>
              </volist>
              <else /> 
                   <p style="text-align: center;">暂没有信息</p>
              </notempty>
          </ul>
        </div>
        <div class="gadget">
          <h2>Blog Message</h2>
          <div class="clr"></div>
          <p>   <img src="__IMG__/test_1.gif" alt="image" width="20" height="18" /> <em>呵呵，来看看你，最近好吗？ </em>.<img src="__IMG__/test_2.gif" alt="image" width="20" height="18" /></p>
          <p style="float:right;"><strong>穆开乐</strong></p>
          </div>
      </div>
      <div class="clr"></div>
    </div>
    </div>
  </div>
</block>
<block name="script">
<script>window.jQuery || document.write('<script src="__JS__/bin/js/jquery-2.1.1.min.js"><\/script>')</script>
  <script src="__JS__/bin/js/jquery.smartmarquee.js"></script>
  <script type="text/javascript">
       $(document).ready(function () {
          $(".example").smartmarquee({
            // animate duration
            duration: 3000,   
            // auto loop
            loop : true,      
            // interval duration
            interval : 1000, 
            // 'vertical' or 'horizontal'
            axis : "vertical", 
          });
     });
  </script>
   
</block>