.pageset{
	width:100.5%; 
	text-align:right; 
	padding:10px 0; clear:both;
}

.pageset span,.pageset a,.pageset b{ 
	font-size:12px; 
	font-family:Arial, Helvetica, sans-serif; 
	margin:0 2px;
}
.pageset span font{ 
	  color:#f00;  
		font-size:12px; 
}
.pageset a,.pageset b{ 
	border:1px solid #FFFFFF; 
	background:#FFFFFF; 
	padding:6px 7px;
	color: #8E3E0F; 
	text-decoration:none
}
.pageset span { 
	padding-right:10px;
	 }
.pageset b,.pageset a:hover{ 
	background:#448AFF; 
	color:#fff;

}
#mainbar label{
	font-size: 20px;
}

#leavemessage{
	
     border:1px solid #a1a1a1;  
    padding:10px 40px; 
    background:#dddddd;
    width:540px;
     border-radius:18px;
   -moz-border-radius:18px; 老的 Firefox 
    position: relative;
    margin-top: 15px;
}

/*留言板功能*/
.fontset{
	font-weight: bold;
	font-size: 17px;
}

/*提交按钮*/
#submit{
	width:88px;
	height:29px;
	background-color: #545454;
	color: #ffffff;
	border-radius:18px;
    -moz-border-radius:18px; 老的 Firefox 
	
}

#submit:hover{
	background-color: #232323;
}


#messageset{
	margin-top: 10px;
	Border:1px dashed #595959;
	border-width: 0 0 1px 0;
	 border-radius:10px;
   -moz-border-radius:10px; 老的 Firefox 
}

.name_set{
	font-weight: bold;
	font-size: 18px;
}

.message_font{
	font-size: 16px;

}
.delete_commit{
	margin-left: 70%;
    color: #E4E4E4;
}

.delete_commit:hover{
	color: #3399FF;	
}

#commit{
	text-align: center;
	border:1px solid #a1a1a1; 
    background:#E4E4E4;
    width:610px;
    border-radius:10px;
   -moz-border-radius:10px; 老的 Firefox 
    margin-top: 20px;
}

#commit_set{
	text-align: center;
	border:1px solid #a1a1a1; 
    background:#E4E4E4;
    width:610px;
    border-radius:10px;
   -moz-border-radius:10px; 老的 Firefox 
    margin-top: 20px;

}
/*点赞功能*/
#good_set{
	position: relative;
}

#image_set{
	background-color: #E4E4E4;
	text-align: center;
	border:0 solid #E4E4E4; 
	margin-left:57.5%;
	margin-bottom: 20px;
	-moz-transition: width 4s;	/* Firefox 4 */
    -webkit-transition: width 4s;	/* Safari 和 Chrome */
    -o-transition: width 4s;	/* Opera */
    z-index: 2;
    position: absolute;
    opacity:0.4;  /*设置图片的透明度*/
    filter:alpha(opacity=40);

}
#image_set:hover{
	width: 70px;
	height: 64px;
	z-index: 1;
	opacity:1.0; /*设置图片的透明度为1*/
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

/*博客点赞功能css*/
#sum_count{
	position: absolute;
	font-size: 20px;
	color: #ffffff;
	margin-left: 61%;
	margin-top: 22px;

}

/*留言板回复功能*/
.replay{
	border:1px solid #a1a1a1; 
    background:#E4E4E4;
    width:610px;
    border-radius:10px;
   -moz-border-radius:10px; 老的 Firefox 
    margin-top: 20px;
    display: none;
	
}

.replay_content{
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}

.replay_post label{
	margin-left: 60%;
}

.replay_submit{
	width:88px;
	height:29px;
	background-color: #ACACAC;
	color: #ffffff;
	border-radius:18px;
	margin-bottom: 5px;
    -moz-border-radius:18px; 老的 Firefox 

}

.replay_submit:hover{
	background-color: #232323;
}

.blog_img_set{
	background-color: #E4E4E4;
	border: 0;
}