/*a{cursor: pointer;}*/
.example {
	height: 220px;
	width: 640px;
	font-size: 11px;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
	box-shadow: 1px 1px 5px #999;
	 border-radius:18px;
    -moz-border-radius:18px; 老的 Firefox
	overflow: hidden;
}
.example .container {
	overflow: hidden;
}
.example .container li {
	 width: 600px;
	 height: 210px;
	 margin: 0 0 0 5px; 
	/* text-align: center; */
	padding: 5px 0 5px 0;
	/* border-bottom: 1px dotted #999; */
}
.example .container li a.title{
	color: #f9690e;
	font-size: 15px;
}

.show_blog_set{
    padding:10px 40px; 
    background:#E4E4E4;
    width:530px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom:1px dashed #000;
    border-top:1px dashed #000;
    border-radius:20px;
    -moz-border-radius:20px; 老的 Firefox
}

#blog_font_set{
	margin-top: 20px;
	font-size: 18px;
}

